<div class="container">
  <form [formGroup] = "changePassForm" (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label>Current Password:</label>
      <input type="password" class="form-control" formControlName= "oldpassword" placeholder="Enter current password">
			<span style="color:red" *ngIf = "invalid1">
									Invalid password. Please try again.
								</span><br />
			<span style="color:red" *ngIf = "invalidOldPassword">
									Wrong current password. Please try again
								</span><br />
    </div>
    <div class="form-group">
      <label>New Password:</label>
      <input type="password" class="form-control" formControlName= "password" placeholder="Enter new password">
			<span style="color:red" *ngIf = "invalid2">
									Invalid email. Please try again.
								</span><br />
    </div>
		<div class="form-group">
      <label>Confirm Password:</label>
      <input type="password" class="form-control" formControlName= "repassword" placeholder="Re-enter new password">
			<span style="color:red" *ngIf = "invalid3">
									Invalid email. Please try again.
								</span><br />
			<span style="color:red" *ngIf = "invalidRepeatPassword">
									Password and repeat password do not match. Please try again.
								</span><br />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
