#categories
{
	width: 200px;
	text-align: center;
	height: calc(100vh - 80px);
	list-style-type: none;
	border-right: #5d5a53 1px dotted;
	padding-right: 10px;
	margin: 0 25px 0 0;
	float: left;
}

#categories a:link, #categories a:visited
{
	color: #9B9993;
	text-decoration: none;
}

#categories a:hover,#categories a.active
{
	color: #242320;
}

div#album-details p
{
	margin-bottom: 5px;
	color: #5e5b54;
}

p em
{
	color: #9b9993;
}

.search-container {
	height: 40px;
}

.btn {
	margin-left: 20px;
}
