.container {
	height: 500px;
	width: 100%;
	border-bottom: 1px solid rgba(78, 42, 60, 0.12);
}

.btn-container {
	text-align: center;
	align-items: center;
	max-width: 100%;
}

.btn{
	margin-top: 150px;
	padding: 15px 40px;
}
