.greeting {
	text-align: center;
	height: 200px;
}

.screenContainer {
	height: 250px;
	text-align: center;
	align-items: center;
	max-width: 100%;
	/* background-color: red; */
	padding-top: 20px;
}

.screen {
	height:  200px;
	width: 500px;
	border: 1px solid rgb(0, 0, 0);
	display: inline-block;
	padding-top: 100px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
	margin: 20px 20px;
	/* background-color: red; */
}

.mid {
	text-align: center;
	align-items: center;
	max-width: 100%;
}

.seatContainer {
	position: relative;
	height: 300px;
	width: 500px;
	background-color: grey;
	display: inline-block;
}

.btn {
	margin-top: 30px;
	padding: 10px 40px;
}
